.container {
    height: 500px;
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
}

.name-form {
    display: flex;
    gap: 35px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

img {
    margin-top: 5px;
}
.image-form {
    align-items: top;
    justify-content: center;
    display: flex;
    padding: 2px;
}

.image-form input {
    height: 35px;
    width: 155px;
}

label {
    padding: 1px;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}