<% function randomNum() { return Math.floor(Math.random() * 100) } %>
    <fieldset class="change-stats">
        <legend>Change stats</legend>
        <label>Hitpoints:</label><input type="integer" name="stats" value="<%=randomNum()%>">
        <label>Attack:</label><input type="integer" name="stats" value="<%=randomNum()%>">
        <label>Defense:</label><input type="integer" name="stats" value="<%=randomNum()%>">
        <label>Speed:</label><input type="integer" name="stats" value="<%=randomNum()%>">
    </fieldset>