<fieldset class="change-type">
    <legend>Add new type</legend>
    <label><input type="checkbox" name="type" value="Normal" checked>Normal</label>
    <label><input type="checkbox" name="type" value="Fire">Fire</label>
    <label><input type="checkbox" name="type" value="Water">Water</label>
    <label><input type="checkbox" name="type" value="Grass">Grass</label>
    <label><input type="checkbox" name="type" value="Flying">Flying</label>
    <label><input type="checkbox" name="type" value="Fighting" checked>Fighting</label>
    <label><input type="checkbox" name="type" value="Poison">Poison</label>
    <label><input type="checkbox" name="type" value="Electric">Electric</label>
    <label><input type="checkbox" name="type" value="Ground">Ground</label>
    <label><input type="checkbox" name="type" value="Rock">Rock</label>
    <label><input type="checkbox" name="type" value="Psychic">Psychic</label>
    <label><input type="checkbox" name="type" value="Ice">Ice</label>
    <label><input type="checkbox" name="type" value="Bug">Bug</label>
    <label><input type="checkbox" name="type" value="Ghost">Ghost</label>
    <label><input type="checkbox" name="type" value="Steel">Steel</label>
    <label><input type="checkbox" name="type" value="Dragon">Dragon</label>
    <label><input type="checkbox" name="type" value="Dark">Dark</label>
    <label><input type="checkbox" name="type" value="Fairy">Fairy</label>
</fieldset>